<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acquaintance" version="2.0.0-alpha2" targetFramework="net462" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net462" />
  <package id="FluentAssertions" version="4.14.0" targetFramework="net462" />
  <package id="Moq" version="4.6.38-alpha" targetFramework="net462" />
  <package id="NUnit" version="3.6.1" targetFramework="net462" />
</packages>