<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acquaintance" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Console" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers" version="2.0.1" targetFramework="net462" developmentDependency="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net462" />
  <package id="Topshelf" version="4.0.3" targetFramework="net452" />
</packages>